[submodule "third_part/easyloggingpp"]
	path = third_part/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "third_part/jsoncpp"]
	path = third_part/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third_part/curl"]
	path = third_part/curl
	url = https://github.com/bagder/curl.git
[submodule "third_part/glog"]
	path = third_part/glog
	url = https://github.com/khvysofq/glog.git
[submodule "coveralls-cmake"]
	path = coveralls-cmake
	url = https://github.com/JoakimSoderberg/coveralls-cmake.git
